.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.left,
.right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.left {
  flex-direction: column;
}
.right {
  flex-direction: column-reverse;
}
.subscription {
  background-color: #f69427;
  color: #fff;
  border: none;
  padding: 10px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.signup {
  display: flex;
  gap: 2px;
  cursor: pointer;
}

.search {
  display: flex;
  border: solid 1px rgb(177, 177, 177);
  border-radius: 5px;
  padding: 3px;
  width: 350px;
  justify-content: right;
}
.search > input {
  text-align: right;
  margin-right: 2px;
  border: none;
  width: 320px;
}
.search > input:focus {
  outline: none;
}
.logo {
  margin-right: 110px;
  cursor: pointer;
}
