.container {
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.items-page {
  margin-top: 15px;
}
.filter-options {
  margin-bottom: 15px;
}
.items-title {
  display: none;
}

/* Floating Buttons */

.floating-button {
  position: fixed;
  bottom: 4%;
  left: 7%;
  width: 380px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 4px 0;
  background-color: #fff;
}

.floating-button > .vector {
  font-size: 35px;
}
.floating-button > .sortButton,
.filterButton {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.circle {
  background-color: #b0bf24;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

/* Floating button end */

/* Recipe list */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.card {
  width: 190px;
  box-shadow: 0 0 2px 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.card > img {
  width: 180px;
}
.desc {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.recipeKeywords {
  display: none;
}
/* Recipe list end */

/*Filter Menu */
.floatingWindow {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 120vh;
  background-color: #fff;
}
.topModal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: solid 2px #acacac;
  height: 40px;
}

.modal-button {
  position: fixed;
  bottom: 4%;
  left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0;
  background-color: #fff;
  background-color: #b0bf24;
  color: #fff;
  border-radius: 10px;
  width: 360px;
  height: 40px;
}
.filter-groups {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.filter-group {
  font-weight: 900;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.filter-options {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 100vw;
}
.filter-option > input {
  margin-left: 10px;
}
.sort-categories {
  width: 110vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-end;
}
