.container {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.hidden {
  display: none;
}
.active {
  display: block;
}
.items-page {
  margin-top: 15px;
}
.filter-options {
  margin-bottom: 15px;
}
.items-title {
  display: none;
}

/* Floating Buttons */

.floating-button {
  position: fixed;
  bottom: 4%;
  left: 7%;
  width: 380px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 4px 0;
  background-color: #fff;
}

.floating-button > .vector {
  font-size: 35px;
}
.floating-button > .sortButton,
.filterButton {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.circle {
  background-color: #b0bf24;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

/* Floating button end */

/* Recipe list */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
}

.card {
  width: 200px;
  box-shadow: 0 0 2px 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.card > img {
  width: 190px;
}
.desc {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.recipeKeywords {
  display: none;
}
/* Recipe list end */

/*Filter Menu */

.filterList {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30vh;
  background-color: red;
  padding-right: 29px;
}
