*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 10px 15px;
}

.hidden {
  display: none;
}
.active {
  display: block;
}
.desktopMenu {
  display: none;
}

@media screen and (min-width: 450px) {
  .desktopMenu {
    display: grid;
  }
}
